.categoryBoxSize {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.categoryBoxSizeJUICE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizePROTEIN {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizeCAN {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.categoryBoxSizeELIXIR {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

  transition: transform 0.3s;
}

.containerSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.widthRow {
  width: 800px;
}

/* .categoryBoxSizeJUICE:hover {
  transform: scale(1.1);
}
.categoryBoxSizeELIXIR:hover {
  transform: scale(1.1);
}
.categoryBoxSizeCAN:hover {
  transform: scale(1.1);
}
.categoryBoxSizePROTEIN:hover {
  transform: scale(1.1);
} */

.titleCategory {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 30px;
  background-color: black;
  color: azure;
}

.customLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.customBtn {
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: all 0.3s ease;
  margin-left: 10px;
  transition: transform 0.2s ease-out;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.customBtn:active {
  transform: scale(0.9);
}

.customBtnPrimeProduct {
  font-size: 26px;
  width: 190px;
  height: 65px;
  border-radius: 15px;
}

.customBtn:hover {
  color: white;
  background-color: green;
  border: green;
}

.productName {
  font-size: 2rem;
}

.zoomDivProduct {
  transition: transform 0.3s;
}

.zoomDivProduct:hover {
  transform: scale(1.03);
}

.noStock1 {
  top: 20%;
  max-width: 100%;
  max-height: 100%;
}
.noStock2 {
  top: 20%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

/* asdasdsa */

@media only screen and (min-width: 992px) {
  .categoryBoxSize {
    width: 25rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categoryBoxSize {
    width: 20rem;
    height: 20rem;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .categoryBoxSize {
    width: 15rem;
    height: 15rem;
  }
}
