.categoryBoxSize {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.categoryBoxSizeJUICE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizePROTEIN {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizeCAN {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizeELIXIR {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

  transition: transform 0.3s;
}

.containerSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.widthRow {
  width: 800px;
}

.categoryBoxSizeJUICE:hover {
  transform: scale(1.1);
}
.categoryBoxSizeELIXIR:hover {
  transform: scale(1.1);
}
.categoryBoxSizeCAN:hover {
  transform: scale(1.1);
}
.categoryBoxSizePROTEIN:hover {
  transform: scale(1.1);
}

.shopAllButton {
  border-radius: 8px;
  background-color: black;
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: 150px;
  transition: transform 0.3s;
}

.shopAllButton:hover {
  transform: scale(1.2);
}

.buttonCategories {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: 150px;
  transition: transform 0.3s;
  position: absolute;
  border: none;
  margin-bottom: 0.5rem;
}

.buttonCategoriesSparkling {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: max-content;
  transition: transform 0.3s;
  position: absolute;
  margin-bottom: 0.5rem;
  border: none;
}

.buttonCategoriesNutMilks {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: max-content;
  transition: transform 0.3s;
  position: absolute;
  margin-bottom: 0.5rem;
  border: none;
}

.ourProductTitle {
  font-family: fantasy;
}

.aboutProject {
  background-color: rgb(8, 115, 8);
  color: white;
  -webkit-text-stroke: 1px rgb(90, 89, 89);
  border-bottom-right-radius: 22px;
  transition: transform 0.5s;
  position: fixed;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "woolwich-regular";
  letter-spacing: 1px;
  z-index: 5;
}

.aboutProject:hover {
  transform: scale(1.05);
  background-color: rgb(4, 185, 7);
  font-weight: 600;
}

@media only screen and (max-width: 991px) {
  .aboutProjectBig {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .aboutProjectSmall {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .SlideImageHome {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .SlideImageHomeResponsive {
    display: none;
  }
}
