.categoryBoxSize {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.categoryBoxSizeJUICE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizePROTEIN {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizeCAN {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.categoryBoxSizeELIXIR {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

  transition: transform 0.3s;
}

.containerSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.widthRow {
  width: 800px;
}

.categoryBoxSizeJUICE:hover {
  transform: scale(1.1);
}
.categoryBoxSizeELIXIR:hover {
  transform: scale(1.1);
}
.categoryBoxSizeCAN:hover {
  transform: scale(1.1);
}
.categoryBoxSizePROTEIN:hover {
  transform: scale(1.1);
}

.shopAllButton {
  border-radius: 8px;
  background-color: black;
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: 150px;
  transition: transform 0.3s;
}

.shopAllButton:hover {
  transform: scale(1.2);
}

.buttonCategories {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: 150px;
  transition: transform 0.3s;
  position: absolute;
  border: none;
  margin-bottom: 0.5rem;
}

.buttonCategoriesSparkling {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: max-content;
  transition: transform 0.3s;
  position: absolute;
  margin-bottom: 0.5rem;
  border: none;
}

.buttonCategoriesNutMilks {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: antiquewhite;
  font-family: fantasy;
  font-size: x-large;
  height: 40px;
  width: max-content;
  transition: transform 0.3s;
  position: absolute;
  margin-bottom: 0.5rem;
  border: none;
}

.ourProductTitle {
  font-family: fantasy;
}
