.customBtn {
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: all 0.3s ease;
  margin-left: 10px;
  transition: transform 0.2s ease-out;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.customBtn:active {
  transform: scale(0.9);
}

.customBtnPrimeProduct {
  width: 250px;
  height: 100px;
  border-radius: 15px;
}
.customBtnSecondaryProduct {
  width: 220px;
  border-radius: 10px;
}

.customBtn:hover {
  color: white;
  background-color: green;
  border: green;
}

.inputSize {
  width: 150px;
  height: 60px;
  border-color: #f0f0f0;
  outline: none;
  font-size: 3rem;
}
.buttonSizeL {
  height: 61px;
  width: 60px;
  border: none;
  margin-bottom: 20px;
  background-color: #3a913f;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.buttonSizeR {
  height: 61px;
  width: 60px;
  border: none;
  margin-bottom: 20px;
  background-color: #3a913f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buttonSize:hover {
  background-color: #2b6e2e;
}
.dash {
  font-size: 3rem;
}
.plus {
  font-size: 3rem;
}
.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.originalImage {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover .originalImage {
  transform: scale(1.1);
}

.fontProduct {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

.customCarouselIcon {
  color: #000000; /* Cambia #ff0000 al código de color que desees */
  font-size: 2em; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
}

.imageSize {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.titleBig {
  font-size: 5rem;
  font-weight: bold;
  text-align: centers;
}

a {
  text-decoration: none;
  color: inherit;
}
/* clase "a" para quitar el azul y el decorado al efecto Link */
a:visited {
  color: inherit;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

.ProductLink {
  transition: transform 0.3s ease-in-out;
}

.ProductLink:hover {
  transform: scale(1.1);
}

.ProductLink.clicked {
  transform: scale(0.9);
}

originalImage {
  transition: transform 0.3s ease-in-out;
}

/* Estilos al hacer clic (escala 0.9) */
shrink {
  transform: scale(0.9);
}

.fontTitleSize {
  font-size: 4rem;
}

.fontPriceSize {
  font-size: 3rem;
}

.iconStyle {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
