.customBtn {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.customBtnPrimeProduct {
  width: 500px;
  height: 40px;
}
.customBtnSecondaryProduct {
  width: 250px;
}

.customBtn:hover {
  color: white;
  background-color: green;
  border: green;
}

.inputSize {
  width: 400px;
  height: 40px;
  border-color: #f0f0f0;
  outline: none;
}
.buttonSize {
  height: 40px;
  width: 40px;
  border: none;
}

.buttonSize:hover {
  background-color: darkgrey;
}

.imageContainer {
  width: 200px;
  height: 250px;
  overflow: hidden;
  position: relative;
  left: 29%;
}

.originalImage {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageContainer:hover .originalImage {
  opacity: 0;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}

.fontProduct {
  font-family: Livory;
}

.customCarouselIcon {
  color: #000000; /* Cambia #ff0000 al código de color que desees */
  font-size: 2em; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
}

.imageSize {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}
