.SuccessButton {
  border: none;
  background-color: #3a913f;
  border-radius: 10px;
  color: white;
  width: 150px;
  height: 40px;
}

.SuccessTittle {
  font-size: 4rem;
}

.SuccessText {
  color: rgb(146, 146, 147);
}

.hero {
  min-height: 100vh;
  position: relative;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo {
  position: relative;
  z-index: 2;
}
.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 249);
  opacity: 0.3;
  mix-blend-mode: overlay;
}
