.navbar-brand {
  cursor: pointer;
  font-family: "woolwich-regular";
  color: #3a913f;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.correct-color-navbar {
  color: white;
}

.subnavContent {
  display: none;
}
/* Subnav button */
.subnavbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: white;
}

/* Style the subnav links */
.subnavContent a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  transition: all 0.3s ease;
  color: black;
}

.bg-navbar {
  background-color: rgba(0, 0, 0) !important;
  z-index: 6;
  backdrop-filter: blur(10px) !important;
  height: 4rem;
}

.collapse-navbar {
  border-radius: 0 0 10px 10px;
  background-color: #000000;
}

.nav-inside-collapse {
  height: 100%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-item-hover:hover {
  color: #04b907;
}

.nav-item-hover {
  font-size: 30px;
}

.nav-icons {
  color: white !important;
  width: 2rem !important;
  height: 2rem !important;
  padding: 2px !important;
}

.nav-icons:hover {
  color: #04b907 !important;
  background-color: white;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .collapse-navbar {
    max-width: 100%;
  }

  .nav-inside-collapse {
    width: 100%;
    justify-content: space-between;
  }

  .subnavContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    left: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(10px) !important;
    width: 100%;
    z-index: 1;
    height: 0;
    transition: all 0.2s ease-out;
    opacity: 0;
    top: 100%;
  }

  /* Style the subnav links */
  .subnavContent a {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    transition: all 0.3s ease;
    color: black;
  }

  /* Add a grey background color on hover */
  .subnavContent a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnavbtn:hover .subnavContent {
    opacity: 1;
    height: 4rem;
    visibility: visible;
    top: 100%;
  }
}
