.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
  color: black;
  height: 100%;
}

.subnavContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  left: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(10px) !important;
  width: 100%;
  z-index: 1;
  height: 0;
  transition: all 0.2s ease-out;
  opacity: 0;
  top: 100%;
}

/* Style the subnav links */
.subnavContent a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  transition: all 0.3s ease;
}

/* Add a grey background color on hover */
.subnavContent a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnavContent {
  opacity: 1;
  height: 4rem;
  visibility: visible;
  top: 100%;
}

.bg-navbar {
  background-color: rgba(255, 255, 255, 0.8) !important;
  z-index: 3;
  backdrop-filter: blur(10px) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
