.original-image-slide {
  height: 40rem;
  object-fit: cover;
}
.image-gallery-image {
  object-fit: cover !important;
  height: 100% !important;
}

.bg-dark-hover-nav {
  filter: brightness(40%);
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
}

.image-gallery-icon:hover {
  color: #3a913f;
}
