.original-image-slide {
  height: 40rem;
  object-fit: cover;
}
.image-gallery-image {
  object-fit: cover !important;
  height: 100% !important;
}

.image-gallery-14 {
  filter: brightness(40%);
  transition: 0.3s;
}
