.original-image-slide {
  height: 70vh;
  object-fit: cover;
}
.image-gallery-image {
  object-fit: cover !important;
  height: 100% !important;
}

.image-gallery-icon:hover {
  color: #3a913f;
}

@media (min-width: 992px) {
  .bg-dark-hover-nav {
    filter: brightness(40%);
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
  }
}
