.textUppercase {
  text-transform: uppercase;
}

.custom-btn-swiper-product {
  width: 300px;
  height: 40px;
  background-color: green !important;
}
.custom-btn-secondary-product {
  width: 250px;
}

.custom-btn-swiper-product:hover {
  border: 2px solid black !important;
  color: white !important;
  background-color: #489448 !important;
}

.inputCart {
  width: 3rem;
}

.heightCart {
  height: 9.336rem;
}
.cartImg {
  width: 7rem;
}

.space {
  margin-right: 14rem;
}

/* ACA COMIENZA ABOUT US */

.image-size {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.custom-shadow {
  box-shadow: 15px 35px 40px rgba(0, 0, 0, 0.1);
}

.custom-image {
  width: 100%;
  height: auto;
  /* Otros estilos que quieras aplicar */
}

.h {
  display: none;
}

.hSwiper {
  height: 3rem;
}
.swiper-slide {
  filter: opacity(0.5);
  transition: all 0.5s ease;
  visibility: hidden;
}
.swiper-slide img {
  transition: all 0.5s ease;
}

.swiper-slide-active .h {
  display: flex;
  justify-content: center;
}
.swiper-slide-prev img {
  transform: rotate(-10deg) !important;
  visibility: visible;
}
.swiper-slide-next img {
  transform: rotate(10deg) !important;
  visibility: visible;
}

.swiper-slide-active {
  filter: opacity(1) !important;
  transition: all 0.5s ease;
  visibility: visible;
}
.swiper-slide-active img {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.swiper-button-next {
  color: rgb(58, 145, 63) !important;
}
.swiper-button-prev {
  color: rgb(58, 145, 63) !important;
}

.btn-glide-color {
  background-color: rgb(58, 145, 63) !important;
}
.text-footer a {
  color: black;
}

.swip {
  max-width: 65rem;
}

.imgBan {
  width: 8rem;
  transition: all 0.3s ease;
}

.fix-navbar {
  width: fit-content !important;
}

@media (min-width: 992px) {
  .fix-nav {
    width: 100% !important;
  }
  .imgBan {
    width: 10rem;
  }
}

.woolwich {
  font-family: "woolwich-regular";
}

@media screen and (max-width: 768px) {
  .hide-on-small-screen {
    display: none;
  }
}
.cartSub {
  display: flex;
  flex-direction: column;
  background-color: #3a913f;
  width: 26.25rem;
  height: 26vh;
  position: fixed;
  bottom: 0px;
  right: 0;
  z-index: 10;
}

.subTotal {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.btnCheckout {
  margin-top: 0rem;
  margin-left: 1rem;
  width: 10rem;
}

.divCheckout {
  display: flex;
  align-items: end;
}

.closeBtn {
  display: flex;
  justify-content: end;
  width: 53%;
}

.listCart {
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
}

.woolwich {
  font-family: "woolwich-regular" !important;
}

.buyerButton {
  transition: transform 0.2s ease-out;
}

.buyerButton:active {
  transform: scale(0.9);
}

.heightDrawerInput {
  width: 12rem;
  padding-left: 3rem;
}

.priceFix {
  width: 2.5rem;
}

.contenedor-externo {
  width: 1389px;
  height: 720px;
  top: 120px;
  position: sticky;
}
.contenedor-interno {
  overflow: auto;
  height: 720px;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.contenedor-interno::-webkit-scrollbar {
  width: 3px; /* Ancho de la barra de desplazamiento */
}

.contenedor-interno::-webkit-scrollbar-thumb {
  background-color: #157347; /* Color del pulgar de la barra de desplazamiento */
}

/* Estilos para la barra de desplazamiento en Firefox */
.contenedor-interno {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
.imgBtnLogo {
  width: 5rem;
}

.botonColor {
  background-color: rgb(242, 186, 54) !important;
}

/* Estilos generales para la barra de desplazamiento (también para IE/Edge) */
.contenedor-interno {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

.contenedor-interno::-webkit-scrollbar-track {
  background-color: transparent; /* Color del riel de la barra de desplazamiento */
}

/* Estilos para el riel de la barra de desplazamiento en Firefox */
.contenedor-interno::-moz-scrollbar-track {
  background-color: transparent;
}

.hearthIcon {
  position: absolute;
  left: 21.7%;
  top: 5%;
  color: #04b907;
  font-size: 1.6rem;
}

.hearthText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -32px;
  right: 1px;

  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1rem;
}

.btnColorBlack {
  background-color: black !important;
}

.btnColorViolet {
  background-color: rgb(218, 218, 218) !important;
}

.Toastify__toast-body {
  font-size: 1.2rem;
  font-family: "woolwich-regular";
}

.Toastify__toast-container {
  margin-top: 4rem;
  max-width: 300px;
}

.orderImg {
  width: 3rem;
}

.section {
  height: 100vh;
  background-color: #f5f4eb !important;
}
@media screen and (max-width: 768px) {
  .section {
    height: 100%;
  }
}

.bg-navbar {
  background-color: white !important;
  border-bottom: 1px solid #b5aaaa;
  z-index: 3;
  backdrop-filter: blur(10px) !important;
  height: 5rem;
}

.orderClass {
  width: 50rem;
}

.bestseller {
  font-size: 6rem;
}
