.custom-btn {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: white;
  background-color: green;
  border: none;
}

.subnav:hover #home {
  background-color: yellowgreen;
}
