.custom-btn-swiper {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.textUppercase {
  text-transform: uppercase;
}

.custom-btn-swiper-product {
  width: 300px;
  height: 40px;
}
.custom-btn-secondary-product {
  width: 250px;
}

.custom-btn-swiper:hover {
  color: white;
  background-color: green;
  border: green;
}

.inputCart {
  width: 3rem;
}

.heightCart {
  height: 9.336rem;
}
.cartImg {
  width: 7rem;
}

.space {
  margin-right: 14rem;
}

/* ACA COMIENZA ABOUT US */

.image-size {
  object-fit: cover;
  max-height: 600px;
  width: 100%;
}

.custom-shadow {
  box-shadow: 15px 35px 40px rgba(0, 0, 0, 0.1);
}

.custom-image {
  width: 100%;
  height: auto;
  /* Otros estilos que quieras aplicar */
}

.h {
  display: none;
}
.swiper-slide {
  filter: opacity(0.5);
  transition: all 0.5s ease;
  visibility: hidden;
}
.swiper-slide img {
  transition: all 0.5s ease;
}

.swiper-slide-active .h {
  display: flex;
  justify-content: center;
}
.swiper-slide-prev img {
  transform: rotate(-10deg) !important;
  visibility: visible;
}
.swiper-slide-next img {
  transform: rotate(10deg) !important;
  visibility: visible;
}

.swiper-slide-active {
  filter: opacity(1) !important;
  transition: all 0.5s ease;
  visibility: visible;
}
.swiper-slide-active img {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.swiper-button-next {
  color: rgb(58, 145, 63) !important;
}
.swiper-button-prev {
  color: rgb(58, 145, 63) !important;
}

.btn-glide-color {
  background-color: rgb(58, 145, 63) !important;
}
.text-footer a {
  color: black;
}

.swip {
  max-width: 65rem;
}

.imgBan {
  width: 8rem;
  transition: all 0.3s ease;
}

.fix-navbar {
  width: fit-content !important;
  gap: 1rem;
}

@media (min-width: 992px) {
  .fix-nav {
    width: 100% !important;
  }
  .imgBan {
    width: 10rem;
  }
}

.woolwich {
  font-family: "woolwich-regular";
}

@media screen and (max-width: 768px) {
  .hide-on-small-screen {
    display: none;
  }
}
.cartSub {
  display: flex;
  flex-direction: column;
  background-color: #3a913f;
  width: 26.25rem;
  height: 16rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

.subTotal {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.btnCheckout {
  margin-top: 1.8rem;
  margin-left: 1rem;
  width: 10rem;
}

.divCheckout {
  display: flex;
  align-items: end;
}

.closeBtn {
  display: flex;
  justify-content: end;
  width: 53%;
}

.listCart {
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
}

.woolwich {
  font-family: "woolwich-regular" !important;
}

.buyerButton {
  transition: transform 0.2s ease-out;
}

.buyerButton:active {
  transform: scale(0.9);
}

.imgATP{
  width: 55rem;
}

.heightDrawerInput{
width: 12rem;
padding-left: 3rem;
}

.priceFix{
  width: 2.5rem;
}








