@font-face {
  font-family: "woolwich-regular";
  src: url("/fonts/woolwich-regular.otf");
}

@font-face {
  font-family: "SoleSans-RegularExtraCondensed";
  src: url("/fonts/SoleSans-RegularExtraCondensed.ttf");
}

body {
  font-size: 24px;
  font-family: "Roboto";
  height: 100%;
}
